<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/stytle.css">
    <title>Flavio</title>
</head>
<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class="profile">
            <img src="../static/img/WIN_20220815_10_02_46_Pro.jpg" alt="Foto flavio">
            <h1>Flavio Pedra</h1>
            <div class="social mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/flavio-da-pedra-0666931b7/">
                    <i class="bi bi-linkedin"></i>

                </a>
                <a target="_blank" href="https://github.com/flavio641">
                    <i class="bi bi-github"></i>

                </a>
                
            </div>
           

        </section>
        <nav id="nav-bar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">
                    <i class="bi bi-house"></i>
                    Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#sobre">
                    <i class="bi bi-file-person"></i>
                    Sobre </a>
                    
                 
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#habilidades">
                    <i class="bi bi-list-check"></i>
                    Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo">
                        <i class="bi bi-file-earmark"></i>
                    Currículo</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#portifolio">
                        <i class="bi bi-collection"></i>
                    Potifólio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#contato">
                        <i class="bi bi-envelope"></i>
                    Contato</a>
                  </li>
              
              </ul>


        </nav>
        

    
    </aside>

    <main id="main">
        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2>Flavio Pedra</h2>
                <span id="sub-title" class="text-blue text-shadow">Programador, Analista Bi, Cientista de Dados  </span>

            </div>
            <div class="col-md-7 d-flex justify-content-end align-items-end">
              <div id="arraste" class="d-flex align-items-center">
                <i class="bi bi-arrow-down text-black pe-2 fs-2"></i>
                <a href="">Arraste Para Mais</a>
              </div>

            </div>



        </section>

        <section class="container mt-5" id="sobre">
            <div class="row w-100">
                <div class="col-md-12" data-anime="down">
                    <h2 class="pt-3">Sobre</h2>
                    <p>
                        Eu acredito no poder da educação como uma agente transformador 
                        de realidades, isso porque tive oportunidade de formar no curso
                        superior em analise e desenvovimento de sistemas, no momento 
                        estou focado na area de dados, realizando um curso de data science
                        e iniciando uma pós graduação em inteligência artificial.
                    </p>
                </div>

            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/img/WIN_20220815_10_02_46_Pro.jpg" alt="" data-anime="left">

                </div>
                <div class="col-md-8" data-anime="right">
                    <h3>metalúrgico</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Aliquid modi distinctio delectus ea libero dignissimos hic 
                        sequi expedita dolor neque cum, eum quos dolorem, magnam possimus ipsum 
                        voluptatem mollitia doloribus!
                    </p>

                   

                      <div class="row">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush ">
                                <li class="list-group-item">
                                    Niver: <span class="fw-lighter">
                                        14 de Setembro de 1982

                                    </span>

                                </li>
                                <li class="list-group-item">
                                    Idade: <span class="fw-lighter">
                                        40 Anos

                                    </span>

                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-lighter">
                                        Belo Horizonte
                                    </span>

                                </li>
                                <li class="list-group-item">
                                    Estado: <span class="fw-lighter">
                                        Minas Gerais
                                    </span>

                                </li>
                               
                              </ul>

                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    Hobby: <span class="fw-lighter">
                                        Viajar
                                    </span>

                                </li>
                                <li class="list-group-item">
                                    Trabalho: <span class="fw-lighter">
                                        Fiat automóveis
                                    </span>

                                </li>
                                <li class="list-group-item">
                                    Especialidade: <span class="fw-lighter">
                                        Inteligência Artificial
                                    </span>

                                </li>
                                <li class="list-group-item">
                                    Experiência: <span class="fw-lighter">
                                        13 Anos
                                    </span>

                                </li>
                               
                              </ul>

                        </div>

                      </div>

                </div>

            </div>


        </section>

        <section class="mt-5 section-bg" id="habilidades">
            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>
                    Nesse período estudando tecnologia, adquiri algumas habilidades
                    técnicas e não técnicas, a maioria delas estão aqui, de acordo com 
                    a porcentagem de conhecimento que eu acredito ter em cada uma delas.
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">HTML</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="75" data-anime="left" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width:75%">75%</div>
                          </div>

                          <p class="mt-3 mb-0">CSS</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 75%">75%</div>
                          </div>

                          <p class="mt-3 mb-0">SQL</p>
                          <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                              <div class="progress-bar" data-anime="left" style="width:70%">70%</div>
                            </div>

                            <p class="mt-3 mb-0">SAS</p>
                          <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                              <div class="progress-bar" data-anime="left" style="width: 60%">60%</div>
                            </div>

                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">POWER BI</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 70%">70%</div>
                          </div>

                          <p class="mt-3 mb-0">PYTHON</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 80%">80%</div>
                          </div>

                          <p class="mt-3 mb-0">MICHINE LEARNING</p>
                          <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                              <div class="progress-bar" data-anime="left" style="width:60%">60%</div>
                            </div>

                            <p class="mt-3 mb-0">EXCEL</p>
                          <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                              <div class="progress-bar" data-anime="left" style="width: 90%">90%</div>
                            </div>

                    </div>
                </div>
                <hr class="w-50 me-auto ms-auto">
                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">TRABALHO EM EQUIPE</p>
                          <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                              <div class="progress-bar" data-anime="left" style="width: 90%">90%</div>
                            </div>
                            <p class="mt-3 mb-0">PROATIVIDADE</p>
                            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" data-anime="left"  style="width: 80%">80%</div>
                              </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">EMPATIA</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left"  style="width: 70%">70%</div>
                          </div>
                          <p class="mt-3 mb-0">RESILIÊNCIA</p>
                          <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                              <div class="progress-bar" data-anime="left"  style="width: 90%">90%</div>
                            </div>

                    </div>
                </div>

            </div>
 
        </section>

        <section class="mt-5 cv" id="curriculo">
            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Currículo</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>
                        <div class="cv-item" data-anime="up">
                            <h4> Tecnólogo em Analise e Desenvolvimento de Sistemas</h4>
                            <h5>2020 - 2022</h5>
                            <p><em>Unicesumar</em></p>
                            <p>Graduação voltada para para desenvolvimento de sistemas, com carga horária de 2940 horas.</p>

                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Pós Graduação em Inteligência Artificial</h4>
                            <h5>2023 - Atual</h5>
                            <p><em>Faculdade Una</em></p>
                            <p>Pós Graduação voltada para realização de maquinas preditivas com machine learning
                                técnicas de rede neurais, com carga horária de 480 horas.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3 class="cv-title">Profissional</h3>
                        <div class="cv-item" data-anime="up">
                            <h4>Agente de Bordo</h4>
                            <h5>2002 - 2009</h5>
                            <p><em>Milênio Transportes</em></p>
                            <p>atendimento aos passageiros, manuseio de cartões para fazer a leitura na roleta, conferir gratuidade de cada passagem, girar a roleta e lidar com dinheiro.</p>
                            
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Operador de Processo Industrial</h4>
                            <h5>2009 - Atual</h5>
                            <p><em>Fiat Automóveis</em></p>
                            <p>Montagem de veiculos automotores, desenvolvendo várias funções  que se relaciona com processo produtivo, fazendo insperção para uma melhor usabilidade do cliente.</p>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section id="portifolio" class="section-bg mt-5">
            <div class="container pb-5 pt-5" data-anime="left">
                <h2 class="pb-4">Portifólio de Projeto de Machine Learning</h2>
                <div id="carouselportifolio" class="carousel carousel-dark slide">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselportifolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselportifolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="10000">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col">
                              <div class="card h-100">
                                <img src="../static/img/creditoimobiliario2.jpg" class="card-img-top" alt="credito imobiliario">
                                <div class="card-body">
                                  <h5 class="card-title">Aprovação de Crédito Imobiliario</h5>
                                  <div class="d-flex justify-content-center">
                                    <a href="https://github.com/flavio641/Modelos_Aprendizados_Maquinas/blob/main/Aprova%C3%A7%C3%A3o_de_Cr%C3%A9dito_Imobil%C3%A1rio.ipynb" target="_blank" class="btn btn-outline-primary"><i class="bi bi-github"></i></a>
                                  </div>

                                 
                                  
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card h-100">
                                <img src="../static/img/planodesaude.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Precificação de Plano de Saúde</h5>
                                  <div class="d-flex justify-content-center">
                                    <a href="https://github.com/flavio641/Modelos_Aprendizados_Maquinas/blob/main/PlanoDeSa%C3%BAde.ipynb" target="_blank" class="btn btn-outline-primary"><i class="bi bi-github"></i></a>
                                  </div>
                                 
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card h-100">
                                <img src="../static/img/netiflix.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Projeto de Sistema de Recomendação</h5>
                                  <div class="d-flex justify-content-center">
                                    <a href="https://github.com/flavio641/Modelos_Aprendizados_Maquinas/blob/main/SistemadeRecomenda%C3%A7%C3%A3o.ipynb" target="_blank" class="btn btn-outline-primary"><i class="bi bi-github"></i></a>
                                  </div>
                                  
                                </div>
                              </div>
                            </div>
                         
                          </div>
                      </div>
                      <div class="carousel-item" data-bs-interval="2000">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col">
                              <div class="card h-100">
                                <img src="../static/img/PrevisãoVendas.jpg" class="card-img-top" alt="credito imobiliario">
                                <div class="card-body">
                                  <h5 class="card-title">Projeto realizado para Previsão de Vendas</h5>
                                  <div class="d-flex justify-content-center">
                                    <a href="https://github.com/flavio641/AnaliseDadosPandas/blob/main/InteligenciaArtificial.ipynb" target="_blank" class="btn btn-outline-primary"><i class="bi bi-github"></i></a>
                                  </div>

                                 
                                  
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card h-100">
                                <img src="../static/img/supermecado.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Modelo de cluster, melhorar o atendimento do cliente</h5>
                                  <div class="d-flex justify-content-center">
                                    <a href="https://github.com/flavio641/Modelos_Aprendizados_Maquinas/blob/main/Cluster2.ipynb" target="_blank" class="btn btn-outline-primary"><i class="bi bi-github"></i></a>
                                  </div>
                                 
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card h-100">
                                <img src="../static/img/carros.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Precificação de carros</h5>
                                  <div class="d-flex justify-content-center">
                                    <a href="https://github.com/flavio641/Modelos_Aprendizados_Maquinas/blob/main/SistemadeRecomenda%C3%A7%C3%A3o.ipynb" target="_blank" class="btn btn-outline-primary"><i class="bi bi-github"></i></a>
                                  </div>
                                  
                                </div>
                              </div>
                            </div>
                         
                          </div>
                       
                      </div>
                   
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselportifolio" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselportifolio" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
        </section>

        <section class="pt-5 pb-5" id="contato">
          <div class="container mb-5">
            <h2 class="pt-3 pb-3">Contato</h2>
            <div class="row">
              <div class="col-md-5">
                <div class="card p-5 shadow border-0">

                  <div class="endereco">
                    <h4><i class="bi bi-geo-alt"></i> Localização</h4>
                    <p>Belo Horizonte MG</p>
                  </div>
                  <div class="email">
                    <h4><i class="bi bi-envelope"></i> E-mail</h4>
                    <p>flaviojunio937@yahoo.com.br</p>
                    
                  </div>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3753.9242167907523!2d-43.95654254995284!3d-19.800810239351943!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa68f9ac0fbe739%3A0x6e96ed6c70239688!2sR.%20Benedito%20Gon%C3%A7alves%20-%20Serra%20Verde%2C%20Belo%20Horizonte%20-%20MG%2C%2031630-200!5e0!3m2!1spt-BR!2sbr!4v1674572431140!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" class="w-100" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  
                </div>

              </div>

              <div class="col-md-7 mt-5 mt-md-0">
                <div class="card p-5 h-100 shadow border-0" data-anime="left">
                  <form class="row g-3" action="/send", method="POST">
                    <div class="col-md-6">
                      <label for="nome" class="form-label">Nome:</label>
                      <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu Nome">
                    </div>
                    <div class="col-md-6">
                      <label for="email" class="form-label">E-mail</label>
                      <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu Email">
                    </div>
                   
                    <div class="col-12">
                      <label for="mensagem" class="form-label">Mensagem:</label>
                      <textarea type="text" class="form-control" id="mensagem" placeholder="Digite sua mensagem" name="mensagem" rows="10"> </textarea>
                    </div>
                   
                   
                    <div class="col-12 d-flex justify-content-center mt-4">
                      <button type="submit" class="btn btn-outline-primary">Enviar Mensagem</button>
                    </div>
                  </form>
                </div>

              </div>

            </div>

          </div>


        </section>

    </main>
    



    <script src="../static/Bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>